@import '../../styles/variables.scss';

.section{
    margin:0px -20px;
    padding:20px;
    margin-bottom:50px;
    h3{
        text-align: center;
        margin-bottom:50px;
        text-transform: uppercase;
    }
    &:nth-child(even){
        background: $scd_color;
      }
}

.productsList{
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(150px , 1fr));
    justify-content: center;
    
    li {
        background: white;
        border:.2px solid rgba(0, 0, 0, 0.08);
        padding:0px;

        justify-self: center;
       img{
        max-width: 400px;
        min-height: auto;
        
       }
        cursor: initial;
        &:hover{
            box-shadow: none!important;
        }
    }
}