@import '../../styles/variables.scss';

.heading{
    @include heading;
}

p{
    text-align: center;
}

.previewImage{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom:20px;
}