@import '../../styles/variables.scss';


.heading{
    @include heading;
}

.image{
    max-width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom:30px;
}

.productWrapper{
    h3{
        text-align: center;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom:60px;
}

.button{
    display: inline-block;
    margin: 0 auto;
    min-width: 200px;
    margin: 0 auto;
    @include button;
}

.buttonWrapper{
    display: grid;
    grid-template-columns: minmax(100px , 200px) minmax(100px , 200px);
    justify-content: center;
    grid-gap:30px;
    button{
        &:nth-of-type(2){
            background: grey!important;
            &:hover{
                background: rgb(121, 117, 117)!important;
            }
        }
    }
}
