@font-face {
  font-family: 'CoreSans';
  src: url('./fonts/CoreSansExtraBold.ttf');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('./fonts/ProximaNova-Bold.ttf');
}

@font-face {
  font-family: 'ProximaNovaReg';
  src: url('./fonts/ProximaNova-Regular.ttf');
}

@font-face {
  font-family: 'ProximaNovaBlack';
  src: url('./fonts/ProximaNovaCond-Black.ttf');
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('./fonts/ProximaNova-Light.ttf');
}
