@import '../styles/variables.scss';



.heading{
    @include heading;
}

.form {
   @include form;
}


.checkForm{
    color:red;
    text-align: center;
    font-size: 16px;
    margin-bottom:5px;
}

.error{
    color:red;
}

