
@import '../styles/variables.scss';


.heading {
    @include heading;
}

.asidePhotos{
    float:left;
    width:40%;
   display: grid;
    background: linear-gradient( to bottom , transparent , rgb(248, 238, 238));
        padding:20px;
        margin-right:20px;
  
    ul{
       
        grid-gap:10px;
        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
       
        display: grid;
        position: relative;
        z-index: 1;
         li{
             @include imageBoxShadow;
           
           list-style: none;
        
         }
    }

}