@import './template.module.scss';
@import '../../styles/media.scss';


.header{
 
    grid-template-columns: 70px 1fr 50px 50px 50px 50px ;
    grid-template-areas: "logo input userLogo signUp cart bars"
                          "nav nav nav nav nav nav";

@include phone {

grid-template-columns: 50px 1fr 1fr 1fr 50px ;
    grid-template-areas: "logo cart userLogo signUp  bars"
                            "input input input input input";
}
}




