
@import '../../styles/variables.scss';
@import '../../styles/media.scss';

.header{
    padding-top:10px;
    padding-bottom:0px;
    background: linear-gradient(to left , $third_color , $back_color);
    grid-gap: 10px;
    display: grid;
    border-bottom:2px solid $scd_color;
    align-items: center;
    grid-template-columns: 70px 1fr 50px 50px 50px ;
    grid-template-areas: "logo input signUp cart bars"
                          "nav nav nav nav nav";
                          border-bottom:2px solid $back_color;
  @include phone {
 
    grid-template-columns: 50px 1fr 1fr 1fr 50px ;
      grid-template-areas: "logo cart signUp userLogo bars"
                             "input input input input input";
 }
}

.language{
    grid-area: language;
    background: $scd_color;
    width:max-content;
    border:none;
    outline:none;
    justify-self: flex-end;
  
    option {
        color:black;
    }
    &:active , &:focus{
        border:none;
        outline:none;
    }
}

.input {
    position: relative;
    input {
        width:100%;
        position: relative;
        padding:15px 20px;
    }
    i{
        position: absolute;
        color:rgba(0, 0, 0, 0.712);
        font-size: 30px;
        top:calc(50% - 15px);
        right:20px;
        @include phone {
            font-size: 24px;
        }
    }
    grid-area: input;
    
    margin:0px 50px;

    @include phone {
        margin:10px;
        padding:10px;
        margin-top:0px;
    }
}

.options{

    display: flex;
    li{
        color:$main_color;
        list-style: none;
        margin:0px 5px;
       position: relative;
       cursor: pointer;
       &:hover{
           text-decoration: underline;
       }
       &:after{
           content:"";
           height:10px;
           width:1px;
           position: absolute;
           background: black;
           right:-5px;
           top:calc(50% - 3px);
       }

    }
}

.nav{
    background: $scd_color;
    padding:10px 30px;
    text-align: center;
    grid-area: nav;
    display: flex;
    justify-content: space-between;

   a{
   
       text-decoration: none;
       position: relative;
       margin:0px 10px;

       &::after{
           content: ' >';
           position: absolute;
           right:-16px;
           top:-2px;
       }
       &:last-of-type{
        &::after{
            content: '';
        }
    }
   }
   @include tablet {
       display: none;
   }
}

.signUp{
    justify-self: flex-start;
    color:white;
    grid-area: signUp;
    cursor: pointer;

        font-size: 25px;
  @include phone {
      justify-self: center;
  }
}

.cart{
   
    color:white;
    justify-self: flex-start;
    align-self: center;
    @include phone {
        justify-self: center;
        font-size: 18px;
    }
   i{
   font-size: 25px;
   @include phone {
    justify-self: center;
    font-size: 22px;
    position: relative;
    top:2px;
}
   }
    grid-area: cart;
}
.bars{
   cursor: pointer;
    color:white;
    grid-area: bars;
    margin-right:20px;
    justify-self: center;
 
        font-size: 35px;
  
}

.logo {
    grid-area: logo;
    
    max-width: 70px;
    margin-left:20px;
}

.userLogo{
    justify-self: flex-start;
    grid-area: userLogo;
   color:white;
   font-size: 25px;
   @include phone {
    font-size: 22px;
    justify-self: center;
}
}