@import '../styles/variables.scss';
.allFoundProducts{
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:20px;

  a{
      text-decoration: none;
      color:black;
  }
}


  .heading{
      @include heading;
  }
