@import '../styles/variables.scss';
.allFoundProducts{
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 li{
   border: .03px solid rgba(0, 0, 0, 0.08);
 }

  a{
      text-decoration: none;
      color:black;
  }
}


  .heading{
      @include heading;
  }
